<website-menu></website-menu>
<section class="formulario">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contato</h2>
        <p>Venha trabalhar conosco. </p>
        <p> Preencha o formulário abaixo com suas informações e entraremos em contato</p>
        <form>
          <div class="form">
            <label for="name" class="label-form">Nome</label>
            <br>
            <input type="text" class="form-input" required placeholder="Digite seu nome">
            <br>
            <label for="name" class="label-form">Email</label>
            <br>
            <input type="text" class="form-input" required placeholder="Digite seu nome">
            <br>
            <label for="name" class="label-form">Mensagem</label>
            <textarea name="text-area-form" class="form-control text-area-form" cols="150" rows="10" placeholder="Digite sua Mensagem"></textarea>
            <br>
            <button type="submit" class="btn btn-form">Enviar</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<website-footer></website-footer>