@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#header {
    background-color: #1B1B1B;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
}

#top-logo {
    height: 50px;    
    margin-left: 12px;
    margin-bottom: 5px;    
}

#notifications {
    color: transparent;
    float: right;
}

#sidenav {
    height: 100%;    
    position: fixed;
    z-index: 98;
    opacity: 0.95;
    /*
    caso queira colocar um header
    top: 60px;
    */
    z-index: 98;
    padding-left: 0px;
    padding-top: 70px;
    background-color: #1B1B1B !important;
}

.content-body {
    padding-top: 60px;       
}

#minigutter {
    display:none;
}

.menu-icon{    
    color: white;
    font-size: 24px;              
}

/deep/ .ui-menu{
    border: 0 !important;
}

/deep/ .ui-menu .ui-menuitem-link:hover{
    background: #F58623 !important; 
    opacity: 100% !important; 
}

/deep/ .ui-menu .ui-menuitem-link{
    color: white !important;    
    background: #1B1B1B;
    font-size: 16px !important;
}

@media only screen and (max-width: 767px) {
}

/*
@media screen and (min-width: 40.063em) {


@media only screen and (max-width: 1000px) {

}

/*
@media only screen and (max-width: 40em) {

@media only screen and (max-width: 400px) {

}

*/


