<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <p class="sr-only">Toggle navigation</p>
          <p class="icon-bar"></p>
          <p class="icon-bar"></p>
          <p class="icon-bar"></p>
        </button>
        <a class="" href="#"><img src="../assets/images/logo3.png" ></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)='goHome()'>Home</a></li>
          <li><a (click)='goMeninas()'>Meninas</a></li>
          <li><a (click)='goPosts()'>Posts</a></li>
          <li><a (click)='goContato()'>Contato</a></li>
          <li><a (click)='goAdmin()'>Admin</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
