<website-menu></website-menu>
<section class="destaques">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Destaques da Semana</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel1.jpg" alt="">
          <p class="text-center">Gohan</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel2.jpg" alt="">
          <p class="text-center">Goku</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel3.jpg" alt="">
          <p class="text-center">Goten</p>
        </div>

      </div>
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel4.jpg" alt="">
          <p class="text-center">Trunks</p>
        </div>

      </div>
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel5.jpg" alt="">
          <p class="text-center">Vegeta</p>
        </div>

      </div>
      <div class="col-md-2">
        <div class="quadro-destaque">
          <img src="../assets/images/carousel/carousel6.jpg" alt="">
          <p class="text-center">Piccolo</p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="meninas col-md-12 col-sm-12">
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center">Chars</h2>
    </div>
    <div class="row">
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas1.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas2.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas3.jpg" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas4.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas5.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas6.jpg" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas7.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas8.jpg" class="img-responsive">
      </div>
      <div class="col-md-4 foto-menina">
        <img src="../assets/images/meninas/meninas9.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="midia col-md-12">
  <div class="container-fluid">
    <h2 class="text-center">Redes Sociais</h2>
    <div class="social-box">
      <ul>
        <li>
          <div class="icon"><i class="fa fa-android"></i></div>
        </li>
        <li>
          <div class="icon"><i class="fa fa-apple"></i></div>
        </li>
        <li>
          <div class="icon"><i class="fa fa-facebook"></i></div>
        </li>
        <li>
          <div class="icon"><i class="fa fa-instagram"></i></div>
        </li>
      </ul>
    </div>
  </div>
</section>

<website-footer></website-footer>